<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--=====================================================================-->
    <!-- General Configuration-->
    <!-- Service -->
    <!--0: Error, 1: Warning, 2: Info, 3: Debug-->
    <!--0: Error, 1: Warning, 2: Info, 3: Debug-->
    <add key="log_level" value="3" />
    <add key="log_path" value="D:\iAndon\Edge" />
    <!-- Rabbit setting-->
    <add key="RabbitMQ.Host" value="localhost:5672" />
    <add key="RabbitMQ.VirtualHost" value="/" />
    <add key="RabbitMQ.User" value="guest" />
    <add key="RabbitMQ.Password" value="guest" />
    <!--Company - Queue Name-->
    <add key="CustomerID" value="SumidenF3" />

    <add key="message_length" value="14" />

    <!--Service working mode: SERVER | CLIENT -->
    <add key="WORKING_MODE" value="SERVER" />

    <!--=====================================================================-->
    <!-- Server Working Mode Configuration-->
    <!-- TCPServer -->
    <add key="ServerPort" value="1234" />

    <!--Reconnect (Close and Open) interval - In minute-->
    <add key="reconnect_interval" value="15" />

    <!--Check interval for No Data - In second-->
    <add key="request_interval" value="30" />
    <add key="disconnect_interval" value="15" />
    <add key="error_interval" value="15" />
	  <!--Thời gian check Subscribe RabbitMQ - In seconds-->
	<add key="queue_interval" value="1" />

	<add key="ping_client" value="1" />
    <add key="ping_interval" value="5" />
    <add key="ping_message" value="OK" />
    <add key="request_interval" value="2" />
    <add key="send_interval" value="2" />


    <!--=====================================================================-->
    <!-- Client Working Mode Configuration-->
    <add key="DeviceIP" value="192.168.2.1#2" />
    <!--<add key="DeviceIP" value="192.168.1.254" />-->
    <add key="DevicePort" value="1234" />
    <add key="ATCommandPort" value="23" />
    <!-- Số lượng Node trên mỗi Gateway -->
    <add key="DeviceNumberOnGateway" value="24" />
    <!-- TCPServer setting-->
    <!-- Check Disconnect setting-->
    <!-- Mili second-->
    <add key="PING_DELAY" value="15" />
    <!-- Second-->
    <add key="TIME_WAIT_CONNECT" value="500" />
    <!-- Milisecond-->
    <add key="TIME_SLEEP_SEND" value="200" />
    <!-- Second-->
    <add key="TIME_NOT_RECEIVE_DATA" value="10" />
    <!-- Second-->
    <add key="RESET_AFTER_NOT_RECEIVE_DATA" value="180" />
    <!-- Second-->
    <add key="SEND_RESET_NOT_RESPONSE" value="120" />

	<!--FLAG-->
	<add key="INVERT_INPUT" value="1" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>